@use "@/styles/partials/variables" as var;


.modalBackdrop {
    width: 100vw;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.choiceModal {
    background-color: var.$petal-white;
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 500px;
    z-index: 5000000 !important;
}

.choiceModalContent {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.choiceModalActions {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}
