@use "@/styles/partials/variables" as var;

.datePicker {
    [data-slot=input-wrapper]:not(:hover){
        background-color: var.$petal-white-bright;
    }
}

.saveButton{
    position: fixed;
    right: 1.5rem;
    bottom: calc(var.$BottomNavigationBar-height + 1.5rem);
    height: 88px;
    width: 5px;

    display: flex;
    flex-flow: column nowrap;
    padding: 0.2rem 0;
    justify-content: end;
    gap: 0;

    border-radius: 5rem 5rem var.$rounding-small var.$rounding-small;
    background-color: rgba($color: black, $alpha: 0.3);
    color: var.$petal-white;
    
    svg {
        height: 56px;
        width: 56px;
        scale: 2;
        fill: var.$dusty-green;
        display: block;

    }
    h3 {
        flex-grow: 0;
        flex-shrink: 1;
    }
}
