// Variables for next.module scss use.
$petal-white: var(--petal-white);
$petal-white-bright: var(--petal-white-bright);
$petal-white-shade: var(--petal-white-shade);
$pineapple-yellow: var(--pineapple-yellow);
$pineapple-yellow-bright: var(--pineapple-yellow-bright);
$pineapple-yellow-shade: var(--pineapple-yellow-shade);
$dusty-green: var(--dusty-green);
$dusty-green-bright: var(--dusty-green-bright);
$dusty-green-shade: var(--dusty-green-shade);
$tiki-torch-grey: var(--tiki-torch-grey);
$tiki-torch-grey-bright: var(--tiki-torch-grey-bright);
$tiki-torch-grey-shade: var(--tiki-torch-grey-shade);
$off-black: var(--off-black);

$positive-green: var(--positive-green);
$negative-red: var(--negative-red);

$rounding-small: var(--rounding-small);
$rounding-big: var(--rounding-big);

$page-side-spacing: var(--page-side-spacing);
$card-spacing: var(--card-spacing);