@use "@/styles/partials/variables" as var;
@tailwind base;
@tailwind components;
@tailwind utilities;

// variables first defined in css for tailwind, then add to partials/_variables.scss for scss with the css var for next.modules.
:root {
  // ! important: when adding a variable needed in tailwind, also add it to tailwind.config.js
  --petal-white: #F3F4F0;
  --petal-white-bright: #FBFCFB;
  --petal-white-shade: #E7E9E2;
  --pineapple-yellow: #FBD100;
  --pineapple-yellow-bright: #FFDD37;
  --pineapple-yellow-shade: #C9A700;
  --dusty-green: #86792E;
  --dusty-green-bright: #8F8548;
  --dusty-green-shade: #6B6125;
  --tiki-torch-grey: #494F37;
  --tiki-torch-grey-bright: #5B614B;
  --tiki-torch-grey-shade: #3A3F2C;
  --off-black: #121301;
  
  --positive-green: #639A23;
  --negative-red: #D72A41; 

  --rounding-small: 1rem;
  --rounding-big: 2rem;

  --page-side-spacing: 1.5rem;
  --card-spacing: 0.5rem;

  --BottomNavigationBar-height: 88px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  color-scheme: light;
}
body {
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-flow: column nowrap;
  background-color: var.$petal-white;
  color: var.$off-black;
}
body .mainWrapper {
  flex-grow: 1;
  overflow: auto;
}

main {
  position: relative;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}
h4{
  font-size: 1.25rem;
  font-weight: 600;
}
h5{
  font-size: 1rem;
  font-weight: 500;
}


// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     background-color: var.$off-black;
//     color: var.$petal-white;
//   }
// }
