@use "@/styles/partials/variables" as var;

.main {
  margin-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  .itemList {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }
}

.sectionTitle {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.sectionTitle > h2 {
  flex-grow: 1;
  font-weight: 700;
  font-size: 1.5rem;
}

.noteList {
  padding: 1rem 0.5rem;
  background-color: #e7e9e2;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  border-radius: 8px 8px 32px 8px;
  div, a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  :is(div,a) > span {
    flex-grow: 1;
    width: calc(calc(100% - 1.5rem) /3);
  }

  :is(div,a) > svg {
    font-size: 1.5rem;
    width: 1.5rem;
  }

  div {
    font-weight: 700;
  }

  div > svg {
    opacity: 0;
  }

  a{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: black solid 2px;
  }
}