@use "@/styles/partials/variables" as var;


.indicator{
    display: inline-flex;
    overflow: hidden;
    position: relative;
    top: 0%;
    color: #f3f4f0;
    border-radius: 0 0 1.5rem 1.5rem;
    justify-content: center;
    align-items: flex-start;
    padding: 0.1rem 0.3rem 0;
    min-width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    line-height: 2rem;
}

.positive {
    background-color: var.$positive-green;
}
.negative {
    background-color: var.$negative-red;
}