@use "@/styles/partials/variables" as var;

// TODO: change this section for search and CRUD component.
.searchAndCrud{
    display: flex;
    flex-flow: row nowrap;
    margin-left: var.$page-side-spacing;
    margin-right: var.$page-side-spacing;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var.$dusty-green;
    .searchField{
        flex-grow: 1;
    }
}

.actionButton {
    flex-grow: 0;
    background-color: var.$dusty-green;
    color: var.$pineapple-yellow;
    font-size: 1.25rem;
    font-weight: 700;
    height: 4rem;
}

.ListingContainer{
    display: flex;
    flex-flow: column nowrap;
    gap: var.$card-spacing;
    margin-left: var.$page-side-spacing;
    margin-right: var.$page-side-spacing;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.ListingContainer:not(:last-child){
    margin-bottom: 3rem;
}

.white [data-slot=input-wrapper]{
    background-color: var.$petal-white-bright;
}