@use "@/styles/partials/variables" as var;

.navigationBar {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-shrink: 0;
    height: var.$BottomNavigationBar-height;
    width: 100%;
    background: linear-gradient(180deg, var.$tiki-torch-grey 0%, var.$tiki-torch-grey-shade 97.06%);
}