@use "@/styles/partials/variables" as var;

.navigationBar {
    display: flex;
    flex-shrink: 0;
    height: 88px;
    width: 100%;
    background: linear-gradient(180deg, var.$tiki-torch-grey 0%, var.$tiki-torch-grey-shade 97.06%);
}