@use "@/styles/partials/variables" as var;

.outerBox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    color: var.$petal-white;
}

.outerBox:active, 
.outerBox:hover {
    background-color: rgba(231, 233, 226, 0.03);
    color: var.$pineapple-yellow-bright;
}

.icon {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.icon > svg {
    width: 40px;
    height: 40px;
}

.content {
    display: flex;
    width: 100%;
    margin: 0;

    text-align: center;

    flex-direction: column;
    font-size: 16px;
    font-family: var(--font-archivo);
    font-weight: 400;
}